.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    max-width: 136.6rem;
    margin: 0 auto;
}
.category>h1{
    font-size: 3rem;
    font-family: var(--ff-head);
    font-weight: 500;
    color: var(--clr-primary-lt);
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 2rem;
}
.category__tab{
    width: 100%;
    margin-bottom: 1rem;
}

.book__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
    max-width: 136.6rem;
    margin: 3rem auto;
}
.card{
    margin: 3rem .5rem;
}
.card:hover{
    transform: scale(1.01);
    box-shadow:  32px 32px 64px #d9d9d9,
             -32px -32px 64px #ffffff;
}