.block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    flex: 1 1 30rem;
    margin-bottom: 5rem;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 30rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 70%;
}
.icon{
    width: 5rem;
}
.head__text{
    font-family: var(--ff-head);
    font-size: 2rem;
    color: var(--clr-primary);
    width: 70%;
}
.text{
    font-family: var(--ff-para);
    font-size: 1.6rem;
    width: 70%;
}

@media(max-width: 990px){
    
}
@media(max-width: 768px){
    
}