.card{
    width: 20rem;
    height: 39rem;
    border-radius: 17px;
    background: #ffffff;
    box-shadow:  10px 10px 26px #e3e3e3,
             -10px -10px 26px #ffffff;
    color: var(--clr-primary);
    font-size: 3rem;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    padding: 1rem;
    transition: 0.2s ease;
}

.card__wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.card__wrapper  span{
    font-size: 1.5rem;
    font-family: var(--ff-para);
}
.card__img{
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.book__title{
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
}
.book__author{
    width: 100%;
    margin-top: 1rem;
    font-weight: 700;
    text-align-last: center;
}

.price__rating{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: 700;
    margin-top: 1rem;
}
.price__rating>span{
    width: 7rem;
    text-align: left;
}

.card__buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px){
    .card{
        height: 40rem;
    }
    .price__rating>span{
        width: 7rem;
        text-align: left;
    }   
    .card__img{
        margin-top: 2.5rem;
    }
    .book__title{
        height: 3.5rem;    
    }
    .card__buttons{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }
}
