.fantasy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
    max-width: 136.6rem;
    margin: 3rem auto;
}
.card{
    margin: 3rem .5rem;
}
.card:hover{
    transform: scale(1.05);
    box-shadow:  32px 32px 64px #d9d9d9,
             -32px -32px 64px #ffffff;
}